[submodule "src/diff_drive"]
	path = src/diff_drive
	url = https://github.com/LeonidasVarveropoulos/diff_drive.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/swerve_drive"]
	path = src/swerve_drive
	url = https://github.com/LeonidasVarveropoulos/swerve_drive.git
