<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="rvizconfig" default="$(find robot_urdf)/rviz/urdf.rviz" />
  <arg name="model" default="$(find robot_urdf)/urdf/robot.urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_t265_odom" args="0 0 0 0 0 0 /base_link /t265_odom_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="pose_odom_fake_base_link" args="-0.42545 0 -0.33 0 0 0 /t265_pose_frame /fake_base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="foot_to_base" args="0 0 0 0 0 0 /base_footprint /base_link 100" />
</launch>