<launch>
    <include file="$(find robot_urdf)/launch/unity_model.launch" />
    <include file="$(find unity_simulation_scene)/launch/unity_simulation_scene.launch" />
    <include file="$(find sim_robot)/launch/unity_odom_filter.launch" />
    <include file="$(find localization)/launch/sim_localization.launch" />
    <include file="$(find diff_drive)/launch/demo.launch" />
    <include file="$(find autonomous)/launch/autonomous.launch" />
    <include file="$(find robot_pid)/launch/robot_pid.launch" />
    
    <node pkg="vision_targeting" type="vision_targeting.py" name="vision_targeting"  output="screen">
        <rosparam command="load" file="$(find vision_targeting)/config/vision_targeting.yaml"/>
        <param name="image_type" value="CompressedImage"/>
    </node>

</launch>